################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Ch 7/EFApplication/ThemePark/bin/Debug/net7.0
/Ch 7/EFApplication/ThemePark/obj
/Ch 7/EFApplication/ThemePark.Tests/obj
/Ch 7/EFApplication/.vs
/Ch 7/EFApplication/ThemePark.Tests/bin/Debug/net7.0
/.vs/ASP.NET-Core-8-Best-Practices/v17
/Ch 10 - Performance/BucksCoffeeShop/.vs/BucksCoffeeShop
/Ch 10 - Performance/BucksCoffeeShop/After/bin/Debug/net8.0
/Ch 10 - Performance/BucksCoffeeShop/After/obj
/Ch 10 - Performance/BucksCoffeeShop/Before/bin/Debug/net8.0
/Ch 10 - Performance/BucksCoffeeShop/Before/obj
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/bin/Debug/net8.0
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/Debug/net8.0
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/BucksCoffeeShop-After.Tests.csproj.nuget.dgspec.json
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/BucksCoffeeShop-After.Tests.csproj.nuget.g.props
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/BucksCoffeeShop-After.Tests.csproj.nuget.g.targets
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/project.assets.json
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/project.nuget.cache
/.vs
/Ch 10 - Performance/BucksCoffeeShop/.vs/ProjectEvaluation
/Ch 10 - Performance/BucksCoffeeShop/After/node_modules
/Ch 10 - Performance/BucksCoffeeShop/Before/node_modules
/Ch 10 - Performance/BucksCoffeeShop-After.Tests/obj/Release/net8.0
/Ch 3 - Middleware/EmojiMiddleware/EmojiMiddleware/obj/Debug/net8.0
/Ch 3 - Middleware/EmojiMiddleware/EmojiMiddleware/obj/Release/net8.0
/Ch 5 - Entity Framework/EntityFrameworkPatterns/obj
/Ch 5 - Entity Framework/ThemePark/obj/Release/net8.0
/Ch 6 - Web UI/BucksCoffeeShop/obj
/Ch 6 - Web UI/TaskRunner/obj/Debug/net7.0
/Ch 6 - Web UI/TaskRunner/obj/Release/net7.0
/Ch 7 - Testing/ThemeParkApp/ThemePark/obj
/Ch 7 - Testing/ThemeParkApp/ThemePark.Tests/obj/Debug/net8.0
/Ch 7 - Testing/ThemeParkApp/ThemePark.Tests/obj/Release/net8.0
/Ch 9 - Web APIs/HttpClientExample/obj
/Ch 9 - Web APIs/ThemeParkApp/ThemePark/obj
/Ch 9 - Web APIs/ThemeParkApp/ThemePark.Api.Tests/obj
/Ch 9 - Web APIs/ThemeParkApp/ThemePark.Data/obj
/Ch 9 - Web APIs/ThemeParkApp/ThemePark.Services/obj
/Ch 9 - Web APIs/ThemeParkApp/ThemePark.Tests/obj/Debug/net8.0
/Ch 9 - Web APIs/ThemeParkApp/ThemePark.Tests/obj/Release/net8.0
/Ch 10 - Performance/BucksCoffeeShop/After/wwwroot/src/site.js
/Ch 10 - Performance/BucksCoffeeShop/After/wwwroot/css/site.min.css
/Ch 10 - Performance/BucksCoffeeShop/After/wwwroot/lib
/Ch 3 - Middleware/EmojiMiddleware/.vs/EmojiMiddleware
/Ch 3 - Middleware/EmojiMiddleware/EmojiMiddleware/bin/Debug/net8.0
/Ch 3 - Middleware/EmojiMiddleware/EmojiMiddleware/obj
