################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ch 5/EFApplication/.vs/EFApplication/FileContentIndex
