<div class="text-center">
    <h1 class="display-4">Entity Framework Patterns</h1>
</div>

<nav>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><a asp-page="Repository-UOW" title="Repository/UoW Example">Repository / Unit of Work</a></li>
        <li class="list-inline-item"><a asp-page="Specification" title="Specification Example">Specification</a></li>
        <li class="list-inline-item"><a asp-page="ExtensionMethods" title="Extension Methods Example">Extension Methods Example</a></li>
    </ul>
</nav>